# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven specific #
target/

# General swap/backup files #
*.o
*.so
*.out
*.log
*.bak
*~
*.swp
*.DS_Store
*.lock
